
 body{   
   font-family: 'Roboto', sans-serif;
   }


.form__title{
   font-weight: 700;
   font-size: 24px;
   line-height: 20px;
   color: #3B3D43;
   margin-bottom: 25px;
   }

.form__item{
   margin-bottom: 25px;
   }

input { 
   height: 48px;
   width: 401px;
   color: #D0C9D6;
   font-size: 15px;
   line-height: 20px;
   border: 2px solid #F7F5F9;
   border-radius: 6px;
   padding-left: 15px;
   display: flex;
   align-items: center;
   border: 6px solid #FFFFFF;
   }

main{
   display: flex;
   height: 51vh;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   }


.form{
   max-width: 481px;
   max-height: 392px;
   background: #F7F5F9;
   border-radius: 12px;
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 15px;
   padding-bottom: 40px;
   box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
   }


input:focus{
   outline: none;
   color:#3B3D43;
   border: 6px;   
}

input:valid{
   border-color: greenyellow; 
}

input:invalid{
   border-color: red;
}

.form__button{
   display: block;
   height: 48px;
   width: 100%;
   background: #6979F8;
   color:#FFFFFF;
   text-transform: uppercase;
   border-radius: 6px;
   text-align: center;
   line-height: 48px;
   font-weight: 400;
   font-size: 17px;
   cursor: pointer;
   border: 0px;
}

.form__button:hover{
   background-color: #afb6ee;
}